block init
  - var bodyClass =''
  - var pageTitle = ''
  - var siteName = 'フランジェリコ ++ Frangelico ++'

doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='keywords', content='frangelico,フランジェリコ,銀座,バー,bar,老舗バー,いそむら,修行,磯村信元,師匠,pub')
    meta(name='description', content='frangelico（フランジェリコ）は、銀座の老舗バー（いそむら）で修行したオーナーが、1999年にオープンした銀座にあるバーです。')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{pageTitle}#{siteName}
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory
    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild
    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild

  body(class= bodyClass)
    <!--[if IE]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    .container

      include ../includes/header

      block content

      include ../includes/footer

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild
    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap/js/dist/util.js')
    script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    script(src='/bower_components/bootstrap/js/dist/modal.js')
    script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    script(src='/bower_components/bootstrap/js/dist/tab.js')
    script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    script(src='/bower_components/bootstrap/js/dist/popover.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
